<h2>{{titulo}}</h2>
<hr>

<form #formProducto="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-producto">
    <label>
        Nombre
        <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">El nombre es obligatorio</span>
    </label>
    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="producto.Nombre" class="form-control" required>

    <label>
        Descripción
        <span *ngIf="!descripcion.valid && descripcion.touched" class="badge badge-danger">La descripcion es obligatorio</span>
    </label>
    <textarea type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.Descripcion" class="form-control" required></textarea>

    <label>
        Precio
        <span *ngIf="!precio.valid && precio.touched" class="badge badge-danger">El precio no es correcto</span>
    </label>
    <input type="text" #precio="ngModel" name="precio" [(ngModel)]="producto.Precio" class="form-control" required pattern="[0-9]+">

    <label>Imagen</label>
    <div *ngIf="is_edit">
        <img src="http://localhost/apirest/uploads/{{producto.Imagen}}" width="90">
    </div>
    <input type="file" name="imagen" class="form-control" (change)="fileChangeEvent($event)">
    

    <br>
    <input type="submit" value="{{titulo}}" [disabled]="!formProducto.form.valid" class="btn btn-success">
</form>